<link rel="stylesheet" href="/static/css/login.css">
<div class="login-container">
<form action="/create-session" method="post" class="login-form">
    <input type="email" placeholder="email" name="email" required class="login-input">
    <input type="password" placeholder="password" name="password" required class="login-input">
    
    <input type="submit" >

   
</form>
<a href="/users/signup">signin</a>

</div>